fastapi
uvicorn
streamlit
httpx
python-dotenv
pydantic
langchain-core
langchain-community
langchain-text-splitters
langgraph
langchain-mcp-adapters
pymysql
redis
pymilvus
FlagEmbedding
huggingface-hub
pypdf
dashscope
